/*1440-1920*/
@media screen and (max-width: 1919px) {
    #main #main-images img:last-child {
        max-width: 434px;
        top: -278px;
        left: 908px;
        width: 34%;
    }
}

/*1200-1440*/
@media screen and (max-width: 1439px) {
    #main #main-container {
        padding: 40px 0 300px 20px;
    }

    #main #main-title h1 {
        margin: 120px 0 0 0;
    }

    #main #main-container #header {
        padding: 0 20px;
    }

    #main #main-images img:first-child {
        left: -101px;
        top: 32px;
        width: 64%;
    }

    #main #main-images img:nth-child(2) {
        max-width: 551px;
        top: -403px;
        left: 438px;
    }

    #main #main-images img:last-child {
        width: 433px;
        top: -273px;
        left: 822px;
    }

    #about-us-container {
        padding: 80px 0 90px;
    }

    #about-us-info {
        justify-content: center;
    }

    #about-us-info img:first-child {
        width: 550px;
    }

    #about-us-info img:nth-child(2) {
        top: -25px;
        left: 530px;
    }

    #about-us-container #about-us-advantages {
        padding-left: 60px;
    }


    #services #services-container {
        padding: 50px;
    }

    #services #services-container #services-block img {
        max-width: 578px;
        padding-left: 20px;
    }

    #services-request-block .request-input {
        justify-content: space-evenly;
    }

    #services-request-container {
        width: 945px;
    }

    #services-request-content {
        padding: 23px 26px 38px;
    }

    #request-img {
        left: -133px;
        top: -122px;
    }

    #accept-img img {
        top: -244px;
        left: -384px;
        width: 419px;
    }

    #services-request-close img:last-child {
        right: 22px;
        width: 142px;
        top: -110px;
    }

    #accept-request-close img:first-child {
        right: -10px;
    }

    #accept-request-close img:last-child {
        right: 60px;
    }

    #accept-request #accept-request-block {
        right: 90px;
        width: 645px;
    }

    #our_masters #our_masters-container {
        padding: 80px 0 70px;
    }

    #our_masters-container .slick-next {
        right: 40px;
    }

    #our_masters-container .slick-prev {
        left: 28px;
    }

    #our_masters-container .titles-texts {
        margin-bottom: 20px;
    }


    #discount #discount-container {
        padding: 47px 0 60px 30px;
    }

    #discount #discount-container img {
        width: 500px;
    }


    #info #info-container {
        padding: 70px 0;
    }

    #info #info-container #info-content {
        justify-content: center;
    }

    #info-content #info-action a {
        margin-left: 20px;
    }

    #info-slick .slick-prev {
        left: 25px;
    }

    #info-slick .slick-next {
        right: 35px;
    }


    #contacts #contacts-container {
        padding: 53px 0 35px;
    }

    #contacts-container .titles-texts {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1355px) {

    #main #main-images img:last-child {
        width: 354px;
        top: -273px;
    }

}

/*1024-1199*/
@media screen and (max-width: 1199px) {

    .header-logo a {
        padding-bottom: 12px;
    }

    #contact-block .site-phone, .header-phone {
        padding-bottom: 10px;
    }

    #main #main-container {
        padding: 25px 0 260px;
    }

    #main #main-container #header #header-nav {
        justify-content: space-evenly;
        padding-top: 0;
        padding-bottom: 4px;
    }

    #main #main-title h1 {
        margin: 70px 0 0 20px;
    }

    #main #main-title-text {
        margin-top: 50px;
        margin-left: 20px;
    }

    #main-container #main-title button {
        margin-top: 60px;
        margin-left: 20px;
    }

    #main #main-images img:first-child {
        left: -30px;
        max-width: 675px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 503px;
        top: -379px;
        left: 496px;
    }

    #main #main-images img:last-child {
        width: 365px;
        top: -286px;
        left: 792px;
    }

    #about-us-container {
        padding: 61px 0 73px;
    }

    #about-us-info {
        padding: 0 15px;
    }

    #about-us-info #about-us-text {
        max-width: 486px;
        margin-left: 30px;
    }

    #about-us-info img:nth-child(2) {
        top: -24px;
        left: 496px;
    }

    #services #services-container {
        padding: 50px 20px;
    }

    #services #services-container h3.titles-texts {
        text-align: center;
    }

    #services #services-container #services-block {
        justify-content: center;
    }


    #services #services-container #services-block img {
        max-width: 420px;
        padding: 0;
        margin: 86px 0 21px 5px;
    }

    #services-request-container {
        width: 830px;
    }

    #services-request-content {
        padding: 23px 0 32px;
    }

    #request-img img {
        max-width: 415px;
    }

    #request-img {
        left: -129px;
        top: -68px;
    }

    #services-request-close img:last-child {
        right: 22px;
        width: 133px;
        top: -105px;
    }

    form .error-input, .input-error {
        margin-left: 0;
    }

    select, input {
        width: 220px;
        height: 55px;
        padding: 16px 0 16px 23px;
        margin-bottom: 20px;
    }

    #services-request-block button {
        margin: 11px 0 0 0;
        padding: 20px 45px;
    }

    #services-request-block {
        width: 512px;
        margin-right: 36px;
    }

    #accept-request #accept-request-block {
        width: 570px;
    }

    #accept-request-close img:first-child {
        right: 30px;
    }

    #our_masters #our_masters-container {
        padding: 90px 0;
    }

    #our_masters-content .slick-list {
        width: 88%;
    }

    #our_masters-content .master img {
        max-width: 448px;
    }

    #our_masters-content .master-name {
        top: 40px;
    }

    #our_masters-content .sign-up {
        right: 90px;
    }

    #discount #discount-container {
        padding: 110px 20px;
    }

    #discount #discount-container img {
        max-width: 391px;
    }

    #info #info-container #info-content {
        margin-bottom: 50px;
    }

    #info-slick img {
        height: 290px;
    }

    #info #info-container #info-content {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }


}

@media screen and (max-width: 1157px) {

    #main #main-images img:first-child {
        left: -30px;
        width: 593px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 424px;
        top: -325px;
        left: 450px;
    }

    #main #main-images img:last-child {
        width: 313px;
        left: 752px;
        top: -229px;
    }
}

@media screen and (max-width: 1070px) {
    #main #main-images img:nth-child(2) {
        max-width: 416px;
        top: -317px;
        left: 429px;
    }

    #main #main-images img:last-child {
        width: 293px;
        left: 722px;
        top: -214px;
    }

    #header .header-phone a {
        display: none;
    }

    #our_masters-container .slick-next {
        right: 27px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {

    #main #main-container {
        padding: 25px 0 220px;
    }

    #main #main-container #header #header-nav {
        width: 390px;
        display: flex;
        justify-content: space-between;
    }

    #main #main-images img:first-child {
        left: 9px;
        max-width: 475px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 392px;
        top: -329px;
        left: 418px;
    }

    #main #main-images img:last-child {
        max-width: 266px;
        top: -234px;
        left: 710px;
    }

    #main #main-title h1 {
        margin: 35px 0 0 20px;
    }

    #main #main-title-text {
        margin-top: 20px;
    }

    #contact-block .site-phone, .header-phone {
        padding: 10px 0 0;
    }


    #contact-block .site-phone, .header-phone {
        display: flex;
        flex-direction: column-reverse;
    }

    #header .header-phone a {
        margin: 5px 0 0;
    }

    #about-us-container {
        padding: 55px 0;
    }

    #about-us-info img:first-child {
        max-width: 315px;
        height: 230px;
    }

    #about-us-info img:nth-child(2) {
        top: 19px;
        left: 362px;
        width: 77px;
    }

    #about-us-info {
        align-items: center;
    }

    #about-us-info #about-us-text h2.titles-texts {
        margin: 0 0 25px;
    }

    #about-us-container #about-us-advantages {
        padding: 0;
        margin-top: 55px;
    }

    #about-us-advantages .advantage {
        justify-content: center;
    }

    #services #services-container {
        padding: 70px 20px 140px;
    }

    #services #services-container #services-block img {
        display: none;
    }

    #services #services-container #services-block {
        height: 380px;
        justify-content: center;
        width: auto;
    }

    #services #services-container h3.titles-texts {
        margin: 0 0 20px 0;
    }

    #services-block #haircuts-container, #blades-container, #complex-container, #additional-container {
        margin-top: 30px;
    }

    #our_masters #our_masters-container {
        padding: 30px 0;
    }


    #our_masters-content .master img {
        max-width: 438px;
    }

    #our_masters-container .slick-prev {
        left: 17px;
    }

    #our_masters-content .master-name {
        top: 27px;
        left: 55px;
    }

    #our_masters-content .sign-up {
        right: 55px;
    }

    #discount #discount-container {
        align-items: flex-end;
        justify-content: center;
    }

    #discount-container-texts {
        max-width: 530px;
        margin-top: 30px;
    }


    #discount #discount-container img {
        max-width: 177px;
        height: 100%;
    }

    #discount-container-texts .titles-texts {
        margin-bottom: 30px;
    }

    #discount-container-texts #discount-text {
        width: 570px;
    }

    #discount-container-texts button.btn {
        margin: 0;
        padding: 15px 30px;
    }

    #discount-popup-content {
        width: 560px;
    }

    #info-content button.btn {
        margin: 10px 0 0 9px;
        padding: 15px 15px;
    }

    #info-slick img {
        max-height: 180px;
    }

    #contacts #contacts-container {
        padding: 40px 0 35px;
    }

    #contacts-container .titles-texts {
        margin-bottom: 15px;
    }

    #address .address-title, #times .address-title {
        margin-bottom: 13px;
    }


    #contact-block .site-phone, .header-phone {
        padding: 0;
    }

    #contacts-container #contacts-items iframe {
        height: 420px;
    }

    #footer {
        padding: 35px 0 0;
    }

    #up {
        bottom: 30px;
        right: 20px;
    }

    #call-request {
        width: 320px;
    }

    #call-request-content {
        padding: 30px 0;
    }

    #call-request-btn .btn {
        padding: 20px 57px;
    }

    #services-request-container {
        width: 586px;
    }

    #request-img img {
        display: none;
    }

    #services-request-close img:last-child {
        right: 31px;
        width: 94px;
        top: -79px;
    }

    #services-request-block {
        margin: 0;
    }

    #services-request-block h2.titles-texts {
        margin: 0 0 12px 0;
    }


    #services-request-content {
        padding: 23px 0 32px;
        display: flex;
        justify-content: center;
    }

    select, input {
        width: 209px;
        height: 46px;
        padding: 10px 0 10px 20px;
        margin-bottom: 15px;
    }

    form .error-input, .input-error {
        margin-top: -17px;

    }

    #form-hide form .error-input, .input-error {
        margin-left: 46px;
    }

    #call-request-content .titles-texts {
        margin: 0 0 25px;

    }

    #accept-img img {
        display: none;
    }

    #accept-request {
        padding: 57px 0;
        margin-left: 115px;
    }

    #access-form {
        padding: 40px 30px 15px;
    }

    #accept-request #accept-request-block {
        width: 555px;
    }

    #accept-request-close img:first-child {
        top: -40px;
        right: 15px;
    }

    #accept-request-close img:last-child {
        position: absolute;
        top: -110px;
        right: 55px;
        width: 83px;
    }

}

@media screen and (max-width: 1021px) {
    #about-us-info img:nth-child(2) {
        top: 28px;
        left: 350px;
        width: 77px;
    }
}

@media screen and (max-width: 1000px) {
    #our_masters-content .master img {
        max-width: 356px;
    }

    #our_masters-content .sign-up {
        right: 108px;
    }
}

@media screen and (max-width: 979px) {
    #main #main-images img:nth-child(2) {
        max-width: 359px;
        top: -206px;
        left: 373px;
    }

    #main #main-images img:last-child {
        max-width: 291px;
        top: -122px;
        left: 633px;
    }

    #about-us-info img:nth-child(2) {
        left: 330px;
    }
}

@media screen and (max-width: 953px) {

    #about-us-info img:nth-child(2) {
        left: 330px;
    }
}

@media screen and (max-width: 928px) {

    #main #main-images img:nth-child(2) {
        max-width: 326px;
        top: -194px;
        left: 373px;
    }

    #main #main-images img:last-child {
        max-width: 267px;
        top: -118px;
        left: 602px;
    }

    #about-us-info img:nth-child(2) {
        left: 300px;
    }
}

@media screen and (max-width: 998px) {
    #about-us-advantages .advantage {
        justify-content: flex-start;
        padding-bottom: 15px;
        width: 513px;
    }

    #about-us-container #about-us-advantages {
        margin-left: 20px;
    }
}

@media screen and (max-width: 870px) {

    #main #main-images img:first-child {
        left: 9px;
        max-width: 455px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 304px;
        top: -197px;
        left: 379px;
    }

    #main #main-images img:last-child {
        max-width: 267px;
        top: -156px;
        left: 552px;
    }

    #about-us-info img:nth-child(2) {
        top: 61px;
        left: 281px;
    }

    #about-us-advantages .advantage img {
        height: 55%;
    }

    #our_masters-content .sign-up {
        right: 68px;
    }

}

@media screen and (max-width: 810px) {
    #our_masters-content .master img {
        max-width: 326px;
    }

}

@media screen and (max-width: 819px) {

    br {
        display: none;
    }

    #main #main-images img:first-child {
        max-width: 409px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 269px;
        top: -166px;
        left: 368px;
    }

    #main #main-images img:last-child {
        max-width: 240px;
        top: -105px;
        left: 527px;
    }

    #main #main-container #header #header-nav {
        justify-content: space-evenly;
    }

    #about-us-advantages .advantage img {
        margin-right: 15px;
        height: 40%;
    }

    #about-us-container #about-us-advantages {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        margin: 25px auto;
    }

    #about-us-advantages .advantage {
        justify-content: flex-start;
        padding-bottom: 15px;
        width: 284px;
    }
}

/*580-767*/
@media screen and (max-width: 767px) {

    #burger {
        display: block;
    }

    #main #main-container #header #header-nav {
        display: none;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.85);
        z-index: 9999;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    #main #main-container #header #header-nav a {
        display: block;
        width: auto;
        padding: 0;
        z-index: 99999;
    }

    #main #main-container #header #header-nav {
        margin-right: 5px;
    }

    #header-nav svg {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        fill: #ff0013;
    }

    #main #main-container #header #header-nav.open {
        display: flex;
    }


    td:not(:last-child) {
        padding-bottom: 10px;
    }

    .header-logo a {
        padding: 0;
    }

    #main #main-container {
        padding: 25px 0 170px;
    }

    #main #main-images img:first-child {
        left: 9px;
        max-width: 260px;
    }

    #main #main-images img:nth-child(2) {
        top: -138px;
        left: 283px;
    }

    #main #main-images img:last-child {
        max-width: 197px;
        top: 97px;
        left: 103px;
    }

    #main #main-title h1 {
        margin: 35px 0 0 15px;
    }

    #main #main-title-text {
        width: 393px;
        margin-left: 15px;
    }

    #about-us-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #about-us-info #about-us-text {
        max-width: 392px;
        margin-left: 10px;
    }

    #about-us-info img:nth-child(2) {
        top: 373px;
        left: 401px;
    }

    #about-us-advantages .advantage img {
        margin-right: 15px;
        height: 40%;
    }

    #about-us-info #about-us-text h2.titles-texts {
        margin: 11px 0 15px;
        text-align: center;
    }

    #about-us-advantages .advantage {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: end;
    }


    #about-us-container #about-us-advantages {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        margin: 15px auto;
    }


    #services-block .service-types .haircut-type:not(:first-child) {
        margin-top: 30px;
    }

    #services-block .service-styles .haircut-style:not(:first-child) {
        margin-top: 30px;
    }

    #services-block .service-prices .haircut-price:not(:first-child) {
        margin-top: 30px;
    }

    #services-block .service-types {
        padding-right: 5px;

    }

    #services-block .service-styles {
        padding-left: 5px;

    }

    #services-block .service-prices {
        padding-left: 5px;

    }

    #services-block #service-options {

        width: 420px;
    }

    #services #services-container {
        padding: 25px 0 259px;
    }

    #services #services-container #services-block {
        height: 280px;
        justify-content: center;
    }

    #services-block #haircuts-container, #blades-container, #complex-container, #additional-container {
        width: 425px;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    #services #services-container button.btn {
        margin-top: 30px;
        margin-left: 115px;
    }

    #services #services-container h3.titles-texts {
        margin: 0 0 15px 0;
        text-align: center;
    }

    #our_masters #our_masters-container {
        padding: 40px 0;
    }

    #our_masters-container .about-us-text {
        width: 420px;
    }

    #our_masters-content .master img {
        max-width: 282px;
    }

    #our_masters-content .sign-up {
        right: 69px;
    }

    #our_masters-content .slick-slide img:not(:last-child) {
        margin: 0 13px;
        padding: 0;
    }

    #our_masters-content .master-name {
        top: 12px;
        left: 55px;
    }

    #our_masters-container .slick-prev {
        left: 20px;
    }

    #discount #discount-container {
        padding: 140px 0;
    }

    #discount #discount-container img {
        max-width: 223px;
    }

    #discount-container-texts {
        max-width: 415px;
        margin-top: 25px;
    }

    #discount-container-texts .titles-texts {
        margin-bottom: 20px;
    }

    #discount-container-texts #discount-text {

        width: 381px;
        flex-direction: column;
        text-align: center;
    }

    #discount-container-texts #discount-text span {
        margin-top: 14px;
        padding-bottom: 35px;
    }

    #discount-popup-content {
        width: 350px;
    }

    #info-content .titles-texts {
        text-align: center;
    }

    #info #info-container {
        padding: 40px 0;
    }

    #info #info-container #info-content {
        margin-bottom: 30px;
        flex-direction: column;
    }

    #info-slick img {
        max-height: 155px;
        max-width: 185px;
    }

    #info-slick .slick-prev {
        left: 50px;
    }

    #info-slick .slick-next {
        right: 50px;
    }

    #info-slick .slick-list {
        width: 63%;
    }

    #contacts-items #contact-block {
        margin-bottom: 45px;
    }

    #discount-popup-content .titles-texts {
        font-size: 20px;
    }

    #services-request-container {
        width: 370px;
    }

    select, input {
        width: 169px;
        height: 43px;
        padding: 10px 0 10px 10px;
        margin-bottom: 15px;
    }

    #services-request-close img:last-child {
        width: 66px;
        top: -62px;
    }

    #accept-request #accept-request-block {
        width: 317px;
    }

    #accept-request-close img:first-child {
        top: -40px;
        right: -10px;
    }

    #accept-request-close img:last-child {
        right: 25px;
    }

}

@media screen and (max-width: 620px) {


    #main #main-container {
        padding: 25px 5px 170px;
    }

    #contacts-container #contacts-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #contacts-container #contacts-items iframe {
        width: 100%;
        height: 300px;
    }

    #discount #discount-container img {
        display: none;
    }

    #discount #discount-container {
        justify-content: center;
    }

    #our_masters-content .master img {
        max-width: 223px;
    }
    #our_masters-content .sign-up {
        right: 43px;
    }

    #our_masters-container .slick-prev {
        left: 12px;
    }

    #our_masters-container .slick-next {
        right: 20px;
    }

    #services-block .service-styles .haircut-style:not(:first-child) {
        margin-top: 10px;
    }

    #services-block .service-types .haircut-type:not(:first-child) {
        margin-top: 30px;
    }

    #services-block .service-prices .haircut-price:not(:first-child) {
        margin-top: 10px;
    }

    #services-block #haircuts-container, #blades-container, #complex-container, #additional-container {
        width: 555px;
        margin-top: 15px;
    }

    #services-block #service-options {
        width: 555px;
        justify-content: space-evenly;
    }

    #services #services-container button.btn {
        margin-top: 50px;
        margin-left: 150px;
    }

    #about-us-info img:first-child {
        max-width: 315px;
        height: 230px;
        margin: 25px 0;
    }

    #about-us-info img:nth-child(2) {
        top: 398px;
        left: 397px;
    }

}

@media screen and (max-width: 559px) {

    #main #main-images img:nth-child(2) {
        max-width: 132px;
        top: 5px;
        left: 245px;
    }

    #main #main-title h1 span.titles-texts {
        font-size: 34px;
    }

    #about-us-info img:nth-child(2) {
        left: 318px;
    }

    #services #services-container #services-block {
        display: block;
    }

    #services-block #haircuts-container, #blades-container, #complex-container, #additional-container {
        width: 425px;
        margin-top: 30px;
    }

    #services-block .service-types .haircut-type:not(:first-child) {
        margin-top: 11px;
    }

    #services-block #service-options {
        width: 425px;
        justify-content: space-between;
    }

    #services #services-container button.btn {
        margin-left: 98px;
    }

    #service-options .option {
        padding: 0 0 10px 0;
        margin: 0 0 0 16px;
    }

    td:not(:last-child) {
        padding-bottom: 9px;
    }

    td.haircut-style {
        width: 200px;
        margin-bottom: 19px;
    }

    #service-options .option {
        padding: 0 0 43px 0;
        margin: 0 0 0 9px;
        text-align: center;
    }

    #services-block .service-types {
        font-size: 15px;
    }

    #services-block .service-styles .haircut-style:not(:first-child) {
        margin-top: 7px;
    }

    #services-block .service-prices .haircut-price:not(:first-child) {
        margin-top: 7px;
    }

    #services-block .service-types .haircut-type:not(:first-child) {
        margin-top: 26px;
    }

    form .error-input, .input-error {
        font-size: 14px;
    }

    #services-request-container {
        width: 400px;
    }

    select {
        appearance: none;
        background: url("../images/service-right-arrow.png") no-repeat right rgb(51, 50, 50);
        background-position-x: calc(100% - 8px);
    }

    #accept-request #accept-request-block {
        right: 67px;
    }

    /*#our_masters-content .slick-list {*/
    /*    width: 50%;*/
    /*}*/

    #our_masters-content .slick-slide {
        width: 284px;
    }

    #our_masters-content .slick-list {
        width: 84%;
    }

    #info-slick img {
        max-height: 160px;
        max-width: 200px;
    }

    #info-slick .slick-list {
        width: 67%;
    }

}


/*320-424*/
@media screen and (max-width: 424px) {

    #main #main-container #header {
        padding: 0 5px;
    }

    #burger {
        margin-left: 5px;
    }

    #main #main-title h1 {
        margin: 35px 0 0 10px;
        font-size: 39px;
    }

    #main #main-title-text {
        text-align: center;
        margin-left: 27px;
        width: 312px;
    }

    .btn-call {
        width: 190px;
        padding: 13px 0 10px 15px;
    }

    #main-container #main-title button {
        margin-top: 40px;
        margin-left: 10px;
    }

    #main #main-title-text {
        margin-top: 17px;

    }

    #main #main-images img:first-child {
        top: 9px;
        max-width: 305px;
    }

    #main #main-images img:last-child {
        max-width: 200px;
        top: 82px;
        left: 139px;
    }

    #main #main-images img:nth-child(2) {
        max-width: 129px;
        top: 61px;
        left: -2px;
    }

    #about-us-info img:nth-child(2) {
        left: 282px;
        top: 438px;
    }

    #about-us-info img:first-child {
        max-width: 282px;
        height: auto;
    }

    #about-us-info #about-us-text {
        max-width: 300px;
        margin-left: 0;
    }

    #about-us-info #about-us-text p {
        margin-top: 10px;
    }

    #about-us-container {
        padding: 40px 0;
    }

    #about-us-advantages .advantage {
        width: 300px;
    }

    td.haircut-style {
        width: 190px;
        margin-bottom: 15px;
    }

    td:not(:last-child) {
        padding-bottom: 0;
    }

    td.haircut-style {
        width: 170px;
    }
    #services-block .service-types .haircut-type:not(:first-child) {
        margin-top: 37px;
    }

    #services-block .service-prices .haircut-price:not(:first-child) {
        margin-top: 23px;
    }

    #services-block .service-styles .haircut-style:not(:first-child) {
        margin-top: 29px;
    }




    #services-block .service-types {
        padding-left: 15px;
    }

    #services #services-container h3.titles-texts {
        margin: 0 0 20px 0;

    }

    #call-request {
        width: 265px;
    }

    #call-request-content img:not(:first-child) {
        top: -35px;
        width: 80px;
    }

    #call-request-btn .btn {
        padding: 17px 35px;
    }

    #call-request-content .about-us-text {
        margin-bottom: 20px;
    }

    #call-request-content .titles-texts {
        margin: 0 0 18px;
    }

    #form-hide form .error-input, .input-error {
        margin-left: 22px;
    }

    #services-block .service-styles {
        width: 91px;
    }

    #services-block .service-types {
        width: 100px;
    }

    #services-block #service-options {
        width: 320px;
        font-size: 15px;
    }

    #services-block #haircuts-container, #blades-container, #complex-container, #additional-container {
        width: 319px;
        justify-content: space-between;
    }

    #services #services-container button.btn {
        margin-top: 55px;
        margin-left: 85px;
    }






    #our_masters #our_masters-container {
        padding: 60px 0;
    }

    #our_masters-container .about-us-text {
        width: 305px;
        margin-bottom: 20px;
    }

    #our_masters-content .master img {
        max-width: 240px;
    }

    #our_masters-content .sign-up {
        right: 42px;

    }

    #our_masters-content .master-name {
        top: 19px;
        left: 43px;
    }

    #discount #discount-container {
        padding: 32px 0 64px 5px;
        justify-content: center;
    }

    #discount-container-texts #discount-text {
        width: 312px;
    }

    #discount-popup-content {
        width: 300px;
    }

    #discount-popup span {
        font-size: 28px;
    }

    #info #info-container #info-content .titles-texts {
        width: 330px;
        text-align: center;
    }

    #info-content button.btn {
        margin: 16px 0 0 9px;
    }

    #info-content #info-action a img {
        margin-bottom: 9px;
    }

    #info-content #info-action a {
        margin: 10px 10px 0;
        display: flex;
        flex-direction: column;
    }

    #our_masters-content .slick-list {
        width: 84%;
    }

    #info-slick img {
        max-height: 160px;
        max-width: 200px;
    }

    #info-slick .slick-list {
        width: 67%;
    }

    #address .address-text, #times .address-text {
        margin: 8px;
        width: 230px;
    }

    #contacts-items #contact-block {
        width: 100%;
    }

    #contact-block .site-phone a {
        margin: 5px;
    }

    #services-request-container {
        width: 300px;
    }

    #services-request-content {
        padding: 46px 0 32px;
    }

    select, input {
        width: 140px;
        height: 38px;
    }


    form .error-input, .input-error {
        margin-top: -15px;
        font-size: 14px;
    }

    #services-request-block .about-us-text {
        margin-bottom: 16px;
    }

    #services-request-block button {
        padding: 15px 35px;
    }

    #services-request-block .titles-texts {
        margin: 0 0 20px;
    }

    #accept-request #accept-request-block {
        width: 256px;
    }

    #accept-request .about-us-text {
        margin: 0 auto;
        width: 255px;
        text-align: center;
    }

    #call-request-content img:not(:first-child) {
        left: -39px;
    }

    #form-hide form .error-input, .input-error {
        margin-left: 34px;
    }

    #call-request-content .titles-texts {
        margin: 0 0 25px;
    }
}

@media screen and (max-width: 375px) {

    #main #main-images img:last-child {
        max-width: 200px;
        top: 82px;
        left: 112px;
    }

    #about-us-info img:nth-child(2) {
        left: 247px;
    }

    #our_masters-content .slick-slide img:not(:last-child) {
        margin: 0 10px;
        padding: 0 10px;
    }

    #our_masters-content .sign-up {
        right: 47px;
        bottom: 20px;
    }

    #our_masters-content .master-name {
        top: 0;
        left: 77px;
    }

    #our_masters-container .slick-prev {
        left: 13px;
    }

    #info-slick .slick-list {
        width: 59%;
    }

    #main #main-title-text {
        text-align: center;
        margin-left: 27px;
        width: 260px;
    }

    td.haircut-style {
        width: 138px;
    }

    #services-block .service-types {
        padding-left: 5px;
    }

    #service-options .option {
        padding: 0 0 37px 0;
        margin: 0 0 0 2px;
        font-size: 14px;
        text-align: center;
    }

    #services #services-container button.btn {
        margin-left: 40px;
    }

    #info #info-container #info-content .titles-texts {
        width: 317px;
        font-size: 32px;
        text-align: center;
    }

    .btn-call {
        width: 133px;
        padding: 4px 4px;
    }

    .header-phone button img {
        display: none;
    }

    #services-request-block .request-input {
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    select {
        font-size: 14px;
    }

    #accept-request {
        padding: 57px 0;
        margin-left: 88px;
    }

    form .error-input, .input-error {
        width: 141px;
    }

}

@media screen and (max-width: 374px) {
    #about-us-info img:nth-child(2) {
        left: 242px;
    }
}
